.common {
    color: $main-color;

    background-color: $text-color;
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}