/* exo-2-100 - cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("../fonts/exo-2-v9-cyrillic-100.woff2") format("woff2"),
    url("../fonts/exo-2-v9-cyrillic-100.woff") format("woff");
}
